#site-head {
    background-color: rgb(18, 19, 73);
}

#site-head-content {
    color: rgb(18, 19, 73);
    background-color: rgba(224, 218, 204, 0.45);
    width: 100%;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

a.btn {
    color: white;
    background-color: rgb(48, 52, 74);
}
a.btn:hover {
    color: white;
    background-color: rgb(92, 53, 22);
}

/* Mini nav */
a.fn-item {
    color: rgb(21, 16, 50);   
}
a.fn-item.active {
    color: rgb(50, 16, 8);   
}
a:hover, a:hover.fn-item {
    color: rgb(251, 145, 81);
}

.post-holder.odd {
    /*background: rgb(49, 60, 145);*/
    background: rgb(107, 118, 203);
}

.site-footer {
    background-color: rgb(18, 19, 73);;
}
.site-footer a:hover {
    color: rgb(251, 145, 81);
}

/* Table */
table th,
table td {
    color: white;
    background-color: rgb(39, 50, 135);
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    color: black;
    background-color: rgb(129, 140, 245);
}
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: rgb(49, 60, 145);
}
table tbody > tr:last-child > td {
    background-color: rgb(69, 80, 185);
    font-weight: bold;
}

.tshirt {
    float: right;
    padding-left: 20px;
    max-height: 200px;
}
.button {
    text-decoration: none;
    background-color: rgb(242, 239, 232);
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;    
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .2);
}
.button:hover {
    background-color: rgb(255, 254, 219);
}